{% load static %}


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WIKI - ED</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://icons8.com/icon/ZRiAFreol5mE/instagram">
    <link href=" {% static 'css/bootstrap.min.css' %} " rel="stylesheet">
    <link href=" {% static 'css/style.css' %} " rel="stylesheet">
</head>

<body background="{% static 'img/Duoc.jpg' %}">
    <header class="menu-fixed">
        <div class="bordmenu">
            <script src="java/script.js"></script>
            <div class="topnav" id="myTopnav">
                <a href="{% url 'home' %}" class="active"><img src=" {% static 'img/Logo_DuocUC.png' %} " alt="" width="25px"> Neirensal</a>
                <a href="index1.html">index1</a>
                <a href="index2.html">index2</a>
                <a href="index3.html">index3</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
    </header>

    <header class="masthead text-center text-white">
    </header>
    <br>
    <div class="container">
        <article>
            <div class="jumbotron">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="rounded img-fluid" src="{% static 'img/nosotres.png' %}"></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Neirensal</h2>
                            <p>Neirensal index.


                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <article>
                    <div class="jumbotron">
                        <div class="row align-items-center">
                            <div class="col-lg-6 order-lg-1">
                                <div class="p-5">
                                    <table border=1>
                                        <tr><td>nombreRemedio</td><td>precio</td><td>descripcion</td></tr>
                                        {% for ve in remedios %}
                                        <tr><td>{{ve.nombreRemedio}}</td><td> {{ve.precio}}</td><td>{{ve.descripcion}}</td></tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
        </article>
    </div>
    
    <br>
    <div class="jumbotronfinal">
        <footer class="py-5 bg-black">
            <div class="container">
                <p class="text-center ">Neirensal 2022&nbsp;©</p>
                <p class="text-center ">Loremm ipsum dolor sit amet consectetur adipisicing elit. Explicabo quos eveniet, voluptate modi delectus optio ipsam, consectetur ad iste fugiat libero eligendi repellat, esse hic commodi atque quia inventore officiis!</p>
                <br>
            </div>
        </footer>
    </div>

</body>

</html>